   #list-entry {
        height: 25px;
        align-items: flex-start;
        justify-content: center;
        padding-left: 10px;
        background-color: rgb(170, 89, 57);
        border-color: rgb(49, 26, 17);
        border-width: 2px;
        border-radius: 10px;
    }

    #character-name {
        -unity-font-style: bold;
        font-size: 12px;
        color: rgb(49, 26, 17);
    }